*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 18px;
}

body{
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color:#e62b4a;
}

li{
    list-style: none;
    display: inline;
}

.container{
    margin: 0 auto;
    width: 75%;
}

.section{
    padding: 100px 0;
}

.title p{
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}

.title h2{
    font-size: 50px;
    font-weight: 400;
}

.title p.text{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}
/* HEADER */
header{
    position: absolute;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 26px 0;
    width: 100%;
    z-index: 10;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo{
    font-size: 2rem;
    font-weight: 700;
}

header .container nav ul li{
    padding: 0 26px;
}

header .container nav ul li.active{
    color: #e62b4a;
}

header .container nav ul li a{
    font-size: 17px;
    transition: all 0.5s;
}

/* CAROUSEL */
.carousel{
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_content p{
    font-size: 25px;
}

.carousel_content h1{
    font-size: 75px;
    line-height: 90px;
}

.carousel_content button{
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    cursor: pointer;
    transition: all 0.5s;
}

.carousel_content button:hover{
    background-color: #af2239;
}

.carousel_down i{
    margin-top: 50px;
    font-size: 30px;
    animation: arrowDown 1s linear 0s infinite;
}

/* SERVICE */
.service{
    background-color: black;
}

.service_slider .item{
    width: 266px;
    height: 230px;
    background-color: white;
    color: #848482;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.service_slider .item::after{
    content: '';
    height: 0;
    width: 5px;
    background-color: #e62b4a;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .2s linear;
}

.service_slider .item:hover::after{
    height: 100%;
}

.service_slider .item i{
    font-size: 50px;
    color: #888888;
}

.service_slider .item p{
    font-size: 14px;
}

/* BLOG */
.blog .title p:first-of-type{
    color: #888888;
}

.blog .title h2{
    color: black;
}

.blog_items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 50px;
}

.blog_item{
    position: relative;
}

.blog_item .blog_show{
    cursor: pointer;
}

.blog_item img{
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(50%);
    object-fit: cover;
    transition: all 0.5s;
}

.blog_item.blog_item10{
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

.blog_item.blog_item1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.blog_item .blog_show{
    position: absolute;
    top: 25px;
    right: 25px;
}

.blog_item i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #ffffff;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    transform: translateY(20px);
    transition: all 0.8s;
}

.blog_item .blog_text{
    position: absolute;
    left: 25px;
    bottom: 25px;
    transform: translateY(20px);
    transition: all 0.8s;
}

.blog_text p{
    color: #D0C7C8;
}

.blog_item:hover .overlay_img{
    opacity: 1;
}

.blog_item:hover .blog_show i{
    transform: translateY(0);
}

.blog_show:hover i{
    background-color: black;
    color: white;
}

.blog_item:hover .blog_text{
    transform: translateY(0);
}

.overlay_img{
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    opacity: 0;
    transition: all 0.5s;
}

/* STATS */
.stats{
    background-color: #000;
}

.stats .container{
    display: flex;
    align-items: center;
}

.stats .container .stats_item{
    width: 25%;
}

.stats_item p:first-of-type{
    font-size: 60px;
    font-weight: 300;
}

.stats_item p:last-of-type{
    font-size: 20px;
    color: #888888;
}

/* EXPERIENCE */
.experience{
    background: url(../img/bussiness_img_1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.experience .experience_video{
    margin-top: 40px;
}

.experience_video video{
    width: 100%;
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);
    object-fit: cover;
    border: none;
    outline: none;
}

/* CONTACT */
.contact .title h2{
    color:black
}

.contact_content{
    margin-top: 40px;
    display: flex;
}

.contact .title p{
    font-weight: 400;
}

.contact .contact_map{
    width: 60%;
}

.contact_map iframe{
    width: 100%;
}

.contact .contact_form{
    width: 40%;
    padding: 0 20px;
}

.contact_form form{
    display: flex;
    flex-direction: column;
}

.contact form input, form textarea{
    font-size: 15px;
    padding: 1em;
    border: 1px solid #888888;
    border-radius: 2px;
    margin-bottom: 30px;
}

form textarea{
    resize: none;
    height: 210px;
}

form button{
    padding: 20px 30px;
    border: 1px solid black;
    background-color: #000;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

form button:hover{
    background-color: #e62b4a;
    border-color: #e62b4a;
}

/* FOOTER */
footer{
    background-color: black;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer p{
    font-size: 14px;
}

footer ul li a{
    width: 54px;
    height: 54px;
    display: inline-block;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    margin-left: 5px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
}

footer ul li a:hover{
    background-color: #e62b4a;
    color: #fff;
}

@keyframes arrowDown{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(40px);
    }
}